table{
    font-family: Arial;
    font-size: 12px;      
    border-bottom: 1px solid #00cccc;  
    background-color: white;
    text-align: center;
   
    

}
td{
    padding: 12px 35px;
    border: 1px solid #EEEEEE;
}
thead{
    color: #ffffff;
    background-color: #00cccc;
    margin-top: 0;

}

tbody{
    color: #999999;
}
tr{
    border:1px 0 1px 1px solid #EEEEEE;
}
tr:hover{
   border: 1px 0 1px 1px solid #F4F4F4;
   color: #555555;
}
